{% load static %}
{%load bootstrap4%}
{%load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%bootstrap_css %}
    <link rel="shortcut icon" href="{% static 'sistemaWeb/img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'sistemaWeb/css/myStyle.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <script src="{% static 'sistemaWeb/js/jquery-3.6.0.js' %}"></script>
</head>
<body>
    <h2>nuevo ctm </h2>


    <form action="" method="POST">
            {% csrf_token %}
            


            {{ form.as_table}}
    </form>
    <form id="Form1">
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="InputNombre" class="col-form-label">Nombre</label>
              <input type="text" class="form-control" id="EscribirNombre" placeholder="Juanito" name="EscribirNombre">
              <br>
              <div id="error1" class="alert alert-danger" role="alert" >
                El nombre esta en blanco
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="inputApellido" class="col-form-label">Apellido</label>
              <input type="text" class="form-control" id="EscribirApellido" placeholder="Perez" name="EscribirApellido">
              <br>
              <div id="error2" class="alert alert-danger" role="alert" >
                El apellido esta en blanco
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="InputCorreo" class="col-form-label">Correo Electronico</label>
              <input type="email" class="form-control" id="EscribirCorreo" placeholder="Juanito@gmail.com" name="EscribirCorreo">
              <br>
              <div id="error3" class="alert alert-danger" role="alert" >
                El correo esta en blanco
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="InputRepetirCorreo" class="col-form-label">Repetir Correo</label>
              <input type="email" class="form-control" id="RepetirEmail" placeholder="Juanito@gmail.com" name="RepetirEmail">
              <br>
              <div id="error4" class="alert alert-danger" role="alert" >
                El correo esta en blanco
              </div>
            </div>
          </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputState">Seccion Obra</label>
                <select id="ElegirRegion" class="form-control">
                <option value="1">Pinturas</option>
                <option value="2">Escultura</option>
                <option value="3">Arte Contemporaneo</option>
                <option selected value="0">Elegir</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="InputNombreobra" class="col-form-label">Escribe el nombre de tu obra</label>
                <input type="text" class="form-control" id="EscribirNombreObra" placeholder="MasterPiece" name="EscribirNombreObra">
                <br>
                <div id="error5" class="alert alert-danger" role="alert" >
                  El nombre de tu obra esta en blanco
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="InputNombreobra" class="col-form-label">Descripcion Obra</label>
                <textarea type="textarea" class="form-control" id="EscribirDescObra" placeholder="xd" name="EscribirNombreObra"></textarea>
                <br>
                <div id="error6" class="alert alert-danger" role="alert" >
                  Debes darle una descripcion a tu obra
                </div>
              </div>
            </div>
            <div class="form-row">
              <label for="InputArchivoObra" class="col-form-label">Archivo Obra</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
              </div>
            </div>
            <br>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary col-2" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary col-4">Enviar</button>
            </div>
    </form>
    
    
</body>
</html>