{% load static %}
{%load bootstrap4%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    {%bootstrap_css %}
    <link rel="shortcut icon" href="{% static 'sistemaWeb/img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'sistemaWeb/css/myStyle.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <script src="{% static 'sistemaWeb/js/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'sistemaWeb/js/script.js' %}"></script>
</head>
<body>

<header>
    <div class="container-fluid  " style="background-color: indigo;">
        <!-- primera fila -->
        <div class="row">
            <!-- columna 1 -->
            <div class="col-md-6">
                <!-- logo de la pagina -->
                <a href="{% url 'index'%}"><img src="{% static 'sistemaWeb/img/logo.png' %}" width="70" height="60" alt="GroupZero"></a>
            </div>
            <!-- segunda columna col two-->
            <div class="col">
                <!-- botones para registrarte y loguearte< p1 >-->
                <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item">
                      <a class="nav-link  badge badge-secondary" href="{% url 'login'%}">Login</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link badge badge-primary text-dark" href="{% url 'register'%}">Register</a>
                    </li> 
                  </ul> 
                <!--        p1        -->
            </div>
            <!-- col two -->
        </div>
    </div>
</header>

<section id="FormularioRegistro">
  <div class="container">
    <div class="row "> 
      <div class="col " >
        <form id="Form1">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Email</label>
              <input type="email"  class="form-control" id="EscribirEmail" placeholder="dfjkdfj@gmail.com" name="EscribirEmail">
              <small id="passwordHelpBlock" class="form-text text-muted">
                Escribe Tu email
              </small>
              <br>
              <div id="error1" class="alert alert-danger" role="alert" >
                el email esta vacio
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Password</label>
              <input type="password" class="form-control" id="EscribirContraseña" name="EscribirContraseña" >
              <small id="passwordHelpBlock" class="form-text text-muted">
                Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
              </small>
              <div id="error2" class="alert alert-danger" role="alert" >
                La password esta vacia
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputAddress">Repite Tu e-mail</label>
              <input type="text" class="form-control" id="RepetirEmail" placeholder="sdjj@gmail.com" name="RepetirEmail">
              <br>
              <div id="error3" class="alert alert-danger" role="alert" >
                El email esta en blanco
              </div>
              <div id="error4" class="alert alert-danger" role="alert" >
                El email es diferente
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="inputAddress2">Confirma tu contraseña</label>
              <input type="password" class="form-control" id="ConfirmarContraseña" placeholder="Tu contraseña"
              name="ConfirmarContraseña">
              <br>
              <div id="error5" class="alert alert-danger" role="alert" >
                La contraseña esta en blanco
              </div>
            </div>
          </div>
          <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputAddress">Direccion</label>
            <input type="text" class="form-control" id="EscribirDireccion1" placeholder="1234 Main St"
            name="EscribirDireccion1">
            <br>
              <div id="error6" class="alert alert-danger" role="alert" >
                La direccion esta en blanco
              </div>
          </div>
          <div class="form-group col-md-6">
            <label for="inputAddress2">Direccion 2 (Opcional)</label>
            <input type="text" class="form-control" id="EscribirDireccion2" placeholder="Apartment, studio, or floor"
            name="EscribirDireccion2">
          </div>
        </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCiudad">Ciudad</label>
              <input type="text" class="form-control" id="EscribirCiudad" name="EscribirCiudad">
              <br>
              <div id="error7" class="alert alert-danger" role="alert" >
                La ciudad esta en blanco
              </div>
            </div>
            <div class="form-group col-md-4" >
              <label for="inputState">Region</label>
              <select id="ElegirRegion" class="form-control">
                <option selected>Elegir</option>

              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="inputZip">Codigo Postal</label>
              <input type="text" class="form-control" id="EscribirCodigoPostal">
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="AceptarTerminos">
              <label class="agree" for="gridCheck">
                Acepta los terminos de servicio
              </label>
              <br>
              <div id="error8" class="alert alert-danger" role="alert" >
                Debe aceptar los terminos de servicio
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" >Registrarse</button>
        </form>
      </div>
    </div>
  </div>

</section>


<footer class="bg-dark text-white ">
  <div class="container">
    <nav class="row">
      <a href="{% url 'index'%}" class="col-3 text-reset text-uppercase d-flex align-items-center ">
        <img src="{% static 'sistemaWeb/img/logo.png' %}" alt="Logo GroupZero" class="img-logo mr-2">
      </a>
      <ul class="col-3 list-unstyled">
        <li class="font-weight-bold text-uppercase">Problemas</li>
        <li><a href="{% url 'CondicionesServicio'%}" class="text-reset">Condiciones de Servicio</a></li>
      </ul>
      <ul class="col-3 list-unstyled">
        <li class="font-weight-bold text-uppercase">Conoce Sobre Nosotros</li>
        <li><a href="#" class="text-reset">Nuestra Meta</a></li>
      </ul>
      <ul class="col-3 list-unstyled">
        <li class="font-weight-bold text-uppercase">Redes Sociales</li>
        <li>
          <a href="https://web.facebook.com/?_rdc=1&_rdr" class="text-reset">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/" class="text-reset" >
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="https://www.twitch.tv/directory/following" class="text-reset">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
      </ul>
      <p class="col-12 text-center h6">© All right Reversed.</p> 
    </nav> 
      </div>
</footer>

<script>
  $(document).ready(
    function(){


     
    $("#error1").hide();
    $("#EscribirEmail").blur(
        function(){
          var mensaje="";
          if($("#EscribirEmail").val().trim().length==0){
            mensaje= "El nombre esta en blanco";
          }
          if(mensaje!=""){
            $("#error1").html(mensaje);
            $("#error1").show();
          }else{
            $("#error1").hide();
          }
           
        }
    )
    $("#error2").hide();    
    $("#EscribirContraseña").blur(
        function(){
          var mensaje="";
          if($("#EscribirContraseña").val().trim().length==0){
            mensaje= "La contraseña esta en blanco";
          }
          if(mensaje!=""){
            $("#error2").html(mensaje);
            $("#error2").show();
          }else{
            $("#error2").hide();
          }
           
        }
    )

    $("#error3").hide();    
    $("#RepetirEmail").blur(
        function(){
          var mensaje="";
          if($("#RepetirEmail").val().trim().length==0){
            mensaje= "El email esta en blanco";
          }
          if(mensaje!=""){
            $("#error3").html(mensaje);
            $("#error3").show();
          }else{
            $("#error3").hide();
          }
           
        }
      
    )
    $("#error5").hide();    
    $("#ConfirmarContraseña").blur(
        function(){
          var mensaje="";
          if($("#ConfirmarContraseña").val().trim().length==0){
            mensaje= "La contraseña esta en blanco";
          }
          if(mensaje!=""){
            $("#error5").html(mensaje);
            $("#error5").show();
          }else{
            $("#error5").hide();
          }
           
        }
      
    )

    $("#error6").hide();    
    $("#EscribirDireccion1").blur(
        function(){
          var mensaje="";
          if($("#EscribirDireccion1").val().trim().length==0){
            mensaje= "La direccion esta en blanco";
          }
          if(mensaje!=""){
            $("#error6").html(mensaje);
            $("#error6").show();
          }else{
            $("#error6").hide();
          }
           
        }
      
    )
    $("#error7").hide();    
    $("#EscribirCiudad").blur(
        function(){
          var mensaje="";
          if($("#EscribirCiudad").val().trim().length==0){
            mensaje= "El campo ciudad esta en blanco";
          }
          if(mensaje!=""){
            $("#error7").html(mensaje);
            $("#error7").show();
          }else{
            $("#error7").hide();
          }
           
        }
      
    )
    $("#error8").hide();    
    $("#AceptarTerminos").blur(
        function(){
          var mensaje="";
          if(Parseint($("#AceptarTerminos").val())==0){
            mensaje= "Debe aceptar los terminos de servicio";
          }
          if(mensaje!=""){
            $("#error8").html(mensaje);
            $("#error8").show();
          }else{
            $("#error8").hide();
          }
           
        }
      
    )
    

    $("#error4").hide();    
    $("#Form1").submit(
        function(){
          var mensaje="Error";
          if ($("#EscribirContraseña").val().trim()==($("#ConfirmarContraseña").val().trim())) {
            alert("Se ha enviado el formulario")
          }else{
            event.preventDefault()
            alert("Contraseñas diferentes")
          }
           
        }
      
    )
    



});

</script>
<script>
$(document).ready(function(){




    
    var url_api='https://sinca.mma.gob.cl/index.php/json/listadomapa2k19/'
    $.getJSON(url_api,
    function(data){
      $.each(data,function(i,item){

        $("#ElegirRegion").append(
          "<option>"+item.region+"</option>"


        );
        

      });

    }
    );




});
</script>

    

 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
 <script src="{% static 'sistemaWeb/js/jquery-3.6.0.js' %}"></script>
 <script src="{% static 'sistemaWeb/js/popper.js' %}"></script>
 <script src="{% static 'sistemaWeb/js/bootstrap.js' %}"></script>



</body>
</html>