body{
    background-color: azure;
}

.logoFooter{
    min-width: 20px;
    max-width: 20px;
}
.headerParte1,container-fluid{
    background-color: indigo;
}
.headerParte2,container-fluid{
    background-color: red;
}
.img-logo{
    width: 40px;
}

footer{
    padding-top: 30px;
    bottom: 0;

}
#FormularioRegistro{
    padding: 30px;
}
#Form1{
    padding: 10px;
}
#cartas{
    padding: 30px;
}
